<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="true"
             class="org.jtool.postponablerefactoring.ui.MenuContribution"
             locationURI="popup:org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext?after=org.eclipse.jdt.ui.refactoring.menu">
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <view
             category="org.eclipse.ui"
             class="org.jtool.postponablerefactoring.ui.PostponableRefactoringView"
             icon="icons/showcat_co.gif"
             id="postponableRefactoring.waitingRefactoringView"
             name="Postponed Refactorings"
             restorable="true">
       </view>
    </extension>
</plugin>
